@import '_reset';

.form {
    width: 500px;
    margin: 0 auto;
    padding: 15px;
    text-align: center;

    label {
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        margin: 0 10px;
    }
    select {
        padding: 5px;
    }
    button {
        display: block;
        margin: 10px auto 0 auto;    }
}
#map {
    height: 100vh;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
}